.profile__title {
  color: var(--gunmetal);
  font-size: 5rem;
  font-weight: 400;
  letter-spacing: 0.6rem;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
}

.profile__title::after {
  content: '';
  height: 2px;
  width: 20rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: var(--zomp);
}

.profile__text {
  max-width: 52rem;
  font-size: 2rem;
  margin: 0 auto;
  color: var(--gunmetal);
  background-color: var(--honeydew);
  padding:2rem 5rem;
  border-radius: 40px;
  border-top-left-radius: 0;
}



.profile__links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  padding: 1rem;
}

.profile__link {
  border: 1px solid var(--gunmetal);
  border-radius: 40px;
  padding: 1rem 2rem;
  position: relative;
  font-size: 3rem;
  color: inherit;
}

.profile__new-message::before {
  content: "!";
  width: 2.2rem;
  height: 2.2rem;
  font-size: 1.6rem;

  position: absolute;
  left: 5%;

  text-align: center;
  color: var(--white);
  background-color: var(--red);
  border-radius: 5px;
}

.profile__link:hover {
  color: var(--orange);
  transform: translate(0, 5%);
}

.profile-edit {
  margin-bottom: 0.1rem;
}

@media screen and (min-width: 860px) {
  .profile__links {
    flex-direction: row;
  }
}
