/* Header */

header {
  text-align: center;
  position: relative;
  background-color: var(--gunmetal);
  padding-bottom: 3rem;
}

.header__top{
  display: none;

}

.header__nav::after {
  content: " ";
  display: block;
  margin: 0 auto;
  width: 100%;
  height: 0.3rem;
  background: var(--aquamarine);
  margin-bottom: 3rem;
}

.header__logo {
  width: 60%;
}

.header__nav-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 3rem;
}

.nav__link {
  display: inline;
  font-weight: 600;
  font-size: 2rem;
  color: var(--white);
  font-family: inherit;
}

em.nav__link {
  cursor: default;
}

.nav__link:hover {
  color: var(--orange);
  transform: translate(0, 5%);
}

.nav__li {
  transition: height 0.2s;

  height: 0;
  opacity: 0;
  overflow: hidden;
  display: block;
}
.nav__visible {
  height: 3.5rem;
  opacity: 100%;
}

.nav__button {
  border-bottom: 3px solid var(--aquamarine);
  padding: 1rem 0;
  width: 100%;
}

.nav__button i {
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50%;
  font-size: 2.4rem;
  padding: 1.6rem;

  margin-right: 80%;
}

.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

}

.search-categories {
  background-color: var(--white);
  border: none;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-size: 1.6rem;
  width: 20%;
  height: 3rem;
}

.search-box {
  width: 60%;
  height: 3rem;
  font-size: 1.6rem;

  border: 1px solid var(--gunmetal);

  padding: 1.6rem;
}

.search-box__button i {
  background-color: var(--orange);
  color: var(--white);

  padding: 0.7rem 5rem ;
  font-size: 2rem;

  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;

}

.search-box__button i:hover {
  background-color: var(--zomp);
}

/******* Responsive  ***********/

@media screen and (min-width: 860px) {
  /* header top */
  .header__top{
    display: flex;
    justify-content: space-between;
  
    color: var(--white);
    padding: 1rem 8rem;
    border-bottom: 1px solid var(--honeydew);
  }

  /* header */

  .header__logo {
    width: 25rem;
  }

  /* navigation */
  .nav__button {
    display: none;
  }

  .nav__link {
    display: block;
  }

  .header__nav ul {
    font-size: 3rem;

    display: flex;
    gap: 2rem;
    padding: 0.2rem;
  }

  .nav__li {
    height: 3.2rem;
    opacity: 100%;
  }

  /* search */
  .search-categories {
    padding: 0.65rem 2rem;
    font-size: 1.6rem;
    width: unset;
    height: unset;
  }
}

@media screen and (min-width: 1100px) {
  /* header */

  .header__nav-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav::after {
    margin-bottom: 1rem;
  }
}
