.message {
  padding-bottom: 1rem;
  position: relative;

  display: flex;
  gap: 4rem;
}

.message:nth-of-type(odd) {
  background-color: var(--honeydew);
}

.message-buttons {
  display: flex;
}

.message-buttons button{
  display: inline-block;
  font-size: 1.8rem;
  padding: 0.6rem 1.6rem;
  margin-right: 1rem;
  border-radius: 40px;
  border: 1px solid var(--gunmetal);
}

.message-buttons button:hover {
  background-color: var(--gunmetal);
  color: var(--white);
}

.message-username {
  font-size: 2.2rem;
}

.message-text {
  margin-bottom: 1rem;
  font-size: 1.8rem;
}
