.title__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.results__sort {
    font-size: 1.6rem;
    padding:1rem 2rem;
    background-color: var(--orange);
    color: var(--white);
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
    border: none;
}

.results__sort:hover {
    background-color: var(--white);
    color: var(--gunmetal);
    border: 1px solid var(--gunmetal);
    border-top: none;
}