/* carousel */
.carousel {
    display: none;
    position: relateivee;
    margin: 0 auto;
    margin-bottom: 3rem;
  
    position: relative;
    height: 40rem;
    width: 100%;
  }
  .carousel__sign {
    position: absolute;
  
    color: var(--white);
    background-color: var(--orange);
    opacity: 0.8;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;
  
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem;
  }
  .carousel__sign:hover {
    color: var(--orange);
    background-color: var(--gunmetal);
  }
  
  .carousel__img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
  }
  
  .carousel__button {
    position: absolute;
  
    font-size: 4rem;
    color: var(--white);
    width: 5rem;
    border-radius: 20%;
    border: 1px solid var(--honeydew);
    z-index: 5;
  }

  .carousel__button i {
    margin: auto;
  }
  
  .carousel__button:hover {
    color: var(--zomp);
    border-color: var(--zomp);
  }
  .carousel__link {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
    transition: all 1s;
    opacity: 0;
    transform: translate(-0.5%, 0);
  
    overflow: hidden;
  }
  
  .carousel__link-active {
    display: inline;
    z-index: 2;
    opacity: 1;
    transform: translate(0, 0);
  }
  
  .carousel__next {
    top: 50%;
    left: 100%;
    transform: translate(-110%, 0%);
  }
  .carousel__prev {
    top: 50%;
    left: 0;
    transform: translate(10%, 0%);
  }

  .slider__dots{
    display: flex;
    gap: 1rem;
    
    font-size: 6rem;
    position: absolute;
    left: 50%;
    top:100%;
    transform: translate(-50%, -40%);
    z-index: 8;

    color: var(--gunmetal);
  }

  .slider__dot i {
    margin: auto;
  }

  .active-dot {
    color: var(--orange);
  }

  .slider__dot:hover {
    cursor: pointer;
    color: var(--zomp);
  }


  @media screen and (min-width: 1100px) {
  
    /* homepage carousel */
    .carousel {
      display: block;
    }
  
    .price {
      font-size: 3rem;
    }
  }
  