/* Reset */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style-type: none;
}

a{
  text-decoration: none;
  color: unset;
}

button {
  border: 0;
  background-color: unset;
  cursor: pointer;
}

table {
border-collapse: collapse;
border-spacing: 0;
}

input {
  border: none;
}

/* Core */

:root {
  --white: #fff;
  --honeydew: #e2f8edff;
  --gunmetal: #1d2f36ff;
  --red: #dc0000;

  --aquamarine: #a0eec8ff;
  --zomp: #56a386ff;

  --blue-gradient90deg: linear-gradient(
    90deg,
    var(--aquamarine) 0%,
    rgba(86, 163, 133, 0.5) 80%
  );
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--gunmetal);
}

i {
  margin-right: 1rem;
}



